.section {
    margin: auto;
    @media screen and (min-width:480px){
        display: block;
    }
    @media screen and (min-width:768px){
        width: 768px;
        padding-top: 34px;
        padding-bottom: 34px;
        display: flex;
        
    }
    @media screen and (min-width:1200px){
        width: 1600px;
        padding-top: 94px;
        padding-bottom: 94px;
       
        display: flex;
    }
}

.wrap-item-list {
    // width: 270px; 
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    }
.box { 
    @media screen and (min-width:480px){
        width: 768px;
        height: 480px;
        margin: auto;
        display: inline-block;
        text-align: justify;
    }
    @media screen and (min-width:768px){
        width: 768px;
        height: 480px;
        margin: auto;
        display: inline-block;
        text-align: justify;
        padding: 10px; 
    
       /*  display: flex;
        justify-content:space-between;*/
       
    }
    @media screen and (min-width:1200px){
        width: 1200px;
        margin: auto;
        display: flex;
        justify-content:space-between;
        padding: 0%;
    }
    }
    
.cont-list {
    
    @media screen and (min-width:480px) {
        
    }
    @media screen and (min-width:768px) {
        width: 354px;
        height: 226px;
        margin-right: 30px;
        
    }
    @media screen and (min-width:1200px) {
        
        width: 370px;
        margin-right: 9px;
         &:last-child{
            margin-right: 0;
            }
    }
   
   }
//    .wrapper {
//     @media screen and (min-width:480px) {
        
//     }
//     @media screen and (min-width:768px) {
        
//     }
//     @media screen and (min-width:1200px) {
//         margin-right: 30px;
//         width: 270px;
//          & :last-child {
//             margin-right: 0px;
//             }
//     }
    
//    }
.title-caption {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
   
    color: var(--main-color);
    padding-bottom: 10px;
   
}
.text-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  
    color: var(--main-color);
    padding-bottom: 50px;
}
.container_block{
    @media screen and (min-width:480px){
        width: 480px;
        display: none;
    }
    @media screen and (min-width:768px){
        width: 768px;
        
    }
    @media screen and (min-width:1200px){
        width: 1200px;
        
    }
}
.block {
    padding: 0%;
       width: 1200px;
        display: flex;
       justify-content:space-between;
        align-items: center;
        // gap: 30px;
        margin: auto;
      }


.what_we_do {
    position: relative;
}
.applications{
    position: absolute;
    
    bottom: 0;
    right: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    opacity: 1;
    transition: bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text_app{
    text-align: center;
    align-items: center;
    font-weight: 700px;
    font-size: 14px;
    line-height: 16;
    letter-spacing: 3%;
    font-style: Bold;
    position: relative;
   
    bottom: 105%;
    
    color: #FFFFFF;
  
   
 
}
.section-item{
    margin-right: 30px;
    background: var(--color-milk-);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:last-child{
        margin-right: 0px;
    }
}
.main-soc{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 6px;
}
.main-soc-item{
    list-style: none;
    margin-bottom: 30px;
}
.main-item-list{
    width: 44px; height: 44px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--color-milk-);
    &:hover,
    &:focus{
        background-color: #2196F3;
    }
}
.main-soc-icon {
    fill: #AFB1B8;
}
.main-item-list:hover .main-soc-icon,
.main-item-list:focus .main-soc-icon{
fill: #FFFFFF;
}
// .client_wrap{
   
    
// }
.clients{
    padding: 0;
    width: 1200px;
    display: flex;
    justify-content: center;
    // row-gap: 30px;
    margin: auto;
}
.client-item{
margin-right: 30px;
&:last-child{
    margin-right: 0;
}
}
.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
   
    
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        border-color: #2196F3;
        fill: #2196F3;
    }
}
.clients-link:hover,
.clients-link:focus {
    border-color: #2196F3;
    fill: #2196F3;
}
.clients-icon{
    margin-top: 15px;
}